@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
  --color-text-secondary: #667085;
  --color-action-primary: #00a59b;
  --color-accent-problem-solving: #00aee5;
  --color-accent-reading: #ffbc00;
  --color-accent-writing: #e52b83;
}

@layer base {
  body {
    @apply font-sans;
  }
}
